/* Sub-nav constrained to wrapper */
.sub-nav {
    display: flex;
    justify-content: center;
    /* center the links */
    gap: 30px;
    /* spacing between items */
    background-color: #f0f0f0;
    padding: 15px 0;
    border-radius: 8px;
    width: 100%;
    /* full width of wrapper */
    box-sizing: border-box;
}

.sub-nav .item a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    padding: 11px 150px;
    border-radius: 6px;
    transition: all 0.6s ease;
    font-size: 29px;
    font-family: 'Times New Roman', Times, serif;
}

.sub-nav .item a:hover {
    background-color: #222;
    color: #fff;
}

.img1 {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.pillar1 {
    position: absolute;
    left: 420;
    /* Stick to left edge of wrapper */
    top: 80%;
    /* Vertically center */
    transform: translateY(-50%);
    width: 10%;
    /* Desktop width */
    height: auto;
    /* Maintain aspect ratio */
    z-index: 1;
    /* Behind text */
}

.pillar1 img {
    width: 100%;
    height: auto;
    display: block;

}

body.menu-open .storie-left2,
body.menu-open .pillar1 {
    display: none !important;
}



/* --- Responsive adjustments --- */
@media screen and (max-width: 1824px) {
    .pillar1 {
        display: none;
        /* Smaller on tablets */
    }
}

.storie-left2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;

    /* Optional: position adjustments */
    position: relative;
    /* Only needed if you want to shift the element */
    left: 150px;
    /* Optional: shift element slightly right */

    margin-right: 100px;
    /* THIS adds space on the right side */

    padding: 20px;
}

article3 h1 {
    display: block;
    text-align: center;
    width: 100%;
    margin: 50px auto 20px;
    position: relative;
    /* allow shifting */
    left: 50px;
    /* moves the element 50px to the right */
    color: rgb(228, 217, 217);
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 4px 4px 9px rgba(255, 253, 253, 0.5);

}

body.menu-open article3 h1 {
    display: none !important;
}

article4 p {
    line-height: 1.6;
    font-size: 27px;
    margin-bottom: 25px;
    color: rgb(228, 217, 217);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(234, 211, 0, 0.5);
}

article4 p2 {
    line-height: 1.6;
    font-size: 29px;
    margin-bottom: 15px;
    color: rgb(175, 175, 175);
    font-style: italic;

}