body {

    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
}

#wrapper {

    margin-top: 0px;
    float: center;
    width: 60%;
    margin-left: 180px;
    align-content: center;
}



body {
    background-image: url('assets/img4.jpg');
    background-size: cover;
    /* scale to fill */
    background-position: center;
    background-attachment: fixed;


}



header h1 {
    text-align: right;
    font-size: 35px;
    margin-bottom: 5px;
    color: bisque;



}

header h2 {



    margin-top: 0px;
    margin-bottom: 30px;
    text-align: right;
    font-size: 30px;
    color: darkgray;
}

header h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    color: darkgray;
}

header img {
    margin-top: 50px;
    width: 100%;
}



nav {
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    width: 15%;
    line-height: 30px;
    position: fixed;
}

nav a {
    text-decoration: none;
    color: lightgray;
    font-weight: bold;
    font-size: 30px;
}

nav a:hover {
    color: rgb(108, 108, 195);
}

section {
    margin-bottom: 30px;
    text-align: justify;
}

article p:last-child {
    margin-bottom: 80px;
}

article h3 {
    margin-bottom: 20px;
    font-size: 25px;
    color: lightblue;
    font-style: normal;
}

article h5 {
    font-size: large;
    color: aliceblue;
}

footer {
    margin-top: 20px;
    min-height: 20px;
    font-size: 13px;
    font-weight: lighter;
    text-align: right;
    font-style: italic;
    color: aqua;
}

footer a {
    text-decoration: none;
    color: rgb(230, 152, 152);
}

.books {
    display: grid;
    grid-template-columns: auto auto auto;
    max-width: 100%;
    gap: 16px;
}

.books img {
    display: block;
    width: 100%;
    height: auto;
}

.books>div {
    text-align: center;
    padding: 10px;
}

.books figure {
    margin: 0;
}

article figure figcaption {
    margin-top: 5px;
    font-size: 12px;
}

table img {
    max-width: 100%;
    max-height: 100%;

}

@media (max-width: 480px) {
    nav {
        margin: 0 auto;
        margin-bottom: 50px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0;
        line-height: 20px;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        border-bottom: 4px solid #143323;
        background: #000;
        z-index: 1000;
        color: white;


    }

    nav a {
        color: white;
    }

    h1 {
        margin-top: 50px;

    }

    #wrapper {
        margin-top: 50px;
        position: relative;
        margin-left: 10;
        width: 90%;
        margin: 0 auto;
        float: none;
    }

    footer {
        margin-top: 40px;
        font-size: 12px;
    }

    .books {
        grid-template-columns: auto auto;
        gap: 16px
    }

    figcaption {
        font-size: smaller;
        color: aliceblue;
    }

}